NODE_ENV=development

aws_bucket=elasticbeanstalk-eu-central-1-476648829645
aws_secretAccessKey=g2F4KzwKAtSzSjHYODbnrq1NWuEUVV4ipoZFPP1w
aws_accessKeyId=AKIAING4GMRQKO4FYGBQ
aws_region=eu-central-1

mongodb_user=hunor
mongodb_password=8RrIfU8fpimiSN4P
mongodb_host=cluster0-nhauj.mongodb.net/letstego?retryWrites=true

pusher_instance_id=79da0046-c72a-47f2-bf19-fc58d34d1047
pusher_secret_key=1E788B8F51B0F644E063A1737FDC3284EED997F3E4D8ACF0C5021BC618F533A8